<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Name: </b>
  <%= @product.name %>
</p>

<p>
  <b>Description: </b>
  <%= @product.description %>
</p>

<p>
  <b>Price: </b>
  <%= @product.formatted_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>

<br>
<br>

<% if current_user %>
  <h3>Reviews</h3>

  <p>Reviews for <%= @product.name %></p>
  
  <div id="review-list">
    <%= render 'reviews' %>
  </div>
  
  <div id="new_review">
    <h4>New Reviews</h4>
    <%= render '/reviews/form_review' %>
  </div>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<script>
//   $(document).ready(function(){
//     $("#new_review")
//       .on('ajax:beforeSend', function() {alert("loading!");})
//       .on('ajax:success', function(data, status, xhr) {alert("success!");})
//       .on('ajax:error', function(xhr, status, error) {alert("error!");})
//       .on('ajax:complete', function() {alert("complete!");});
//     });
//   })

  $(function(){
    $('#new_review')
      .on('ajax:beforeSend', function(){
        $("input[type='submit']")
          .val("Saving...");
          .attr("disabled", "disabled");
      })
      .on('ajax:complete', function(){
        $("input[type='submit']")
          .val("Create Review");
          .removeAttr('disabled');
      })
  });
</script>